@font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 900;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Black.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 900;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Black.woff) format('woff');
}

body {
    font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    background-color:rgb(247, 251, 255);
}

.title-support {
    font-weight: 1000;
    width:100%;
    text-align:center;
    font-size:46px;
    margin-top:140px;
}

.text-support {
    font-size:20px;
    margin-top:-20px;
    width:100%;
    text-align:center;
}

.container-support {
    display:flex;
    flex-direction: row;
}

.container-contact {
	width:40%;
	margin-left:2.5%;
	margin-right: 7.5%;
	height: 170px;
	align-content:center;
	align-items: center;
	display:flex;
	flex-direction:column;
	gap:30px;
	z-index:1;
	position:relative;
	box-shadow:0px 0px 5px rgba(28, 28, 28, 0.45) ;
	margin-top:30px;
	padding-right:4%;
	padding-left:4%;
	border-radius:16px;
    padding-top: 115px;
    padding-bottom:115px;
}

.container-feedback {
    display:flex;
    flex-direction: column;
    box-shadow:0px 0px 5px rgba(28, 28, 28, 0.45) ;
    margin-right:2.5%;
	margin-left: 7.5%;
    padding-right:4%;
	padding-left:4%;
    width:40%;
    height:400px;
    border-radius:16px;
    margin-top:30px;
}

.title-feedback  {
    font-size:18px;
    font-weight: 700;
}

.feedback-text {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    border-radius:10px;
    height:30px;
    border-right:none;
    border-left:none;
    font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    padding-right: 3%;
    padding-left: 3%;
}

.name {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    height:30px;
     font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
     border-right:none;
    border-left:none;
    border-radius:10px;
    padding-right: 3%;
    padding-left: 3%;
}

.contact-item {
    border:2px solid gray;
    height:70px;
    font-weight:900;
    font-size:20px;
    text-align: center;
    width:50%;
    border-radius:10px;
    align-content: center;
    align-items: center;
}

#telegram:hover {
	background-image: linear-gradient(to left,rgb(0, 136, 255),rgb(133, 199, 249));
	transition: all 0.4s ease;
	color:white;
	border-radius:15px;
	box-shadow:
		0 20px 40px rgba(0, 0, 0, 0.4),
		0 0 30px #0044cc89;
    border-top:1px solid rgb(227, 227, 227);
    border-bottom:1px solid rgb(227, 227, 227);
    border-right: none;
    border-left: none;
}

#instagram:hover {
	background-image: linear-gradient(135deg,rgb(179, 12, 205) ,rgb(213, 226, 29),rgb(191, 0, 255));
	transition: all 0.4s ease;
	color:white;
	border-radius:15px;	
	box-shadow:
		0 20px 40px rgba(0, 0, 0, 0.4),
		0 0 30px #b917ff89;
    border-top:1px solid rgb(227, 227, 227);
    border-bottom:1px solid rgb(227, 227, 227);
    border-right: none;
    border-left: none;
}

.submit {
    border-radius:10px;
    background-image:linear-gradient(to top,rgb(62, 62, 255),rgb(55, 152, 255));
    transition: all 0.6s;
    font-size:20px;
    font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-weight:1000;
    color:white;
    border:none;
    position:sticky;
    top: 85%;
    height:50px;
}

.submit:hover {
    background-image:linear-gradient(to top,rgb(36, 36, 255),rgb(27, 137, 255));
    transition:0.4s;
    box-shadow: 0px 1px 20px rgba(0, 47, 255, 0.714);
}

.navbar {
	margin-top:-120px;
	height:100px;
	width:90%;
	align-items:center;
	align-content:center;
	background-color:#f2f2f2;
	border-radius:24px;
	margin-right:5%;
	margin-left:5%;
	box-shadow:0px 0px 4px rgba(28, 28, 28, 0.45);
	display:flex;
	flex-direction:row;
	position:fixed;
	z-index:1000;
}

.nav-btn {
	border:none;
	background-color:transparent;
	font-size:20px;
	color:#1a1a1a;
	border-right:0.5px solid rgba(120, 120, 120, 0.25);
	padding-right:3%;
	padding-left:3%;
	font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
	z-index:100;
	cursor:pointer;
	font-weight:600;
}

.container-nav-icon {
	width:90%;
	height:50px;
	margin-top:8px;
	margin-bottom:00px;
	margin-right:5%;
	margin-left:5%;
	display: flex;
	flex-direction: row;
	gap:4%;
}

.nav-icon {
	width:22%;
	height:30px;
	border:none;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:8px;
	background-color: transparent;
}

.nav-icon:hover {
	background-image: linear-gradient(to top, rgba(184, 0, 178, 0.785),rgba(171, 0, 206, 0.779));
	transition:all 300ms;
	border:0.5px solid rgb(160, 0, 177);
	box-shadow:0 20px 40px rgba(0, 0, 0, 0.4),0 0 30px #8d0094d3;
	transform: scale(1.2);
}

.nav-buttons {
	width:100%;
	text-align:center;
	align-items:center;
	align-content:center;
}

.nav-btn:hover {
	color:rgb(95, 95, 95);
	transition:0.4s;
}

#home {
	border:none;
	margin-right:40%;
}
	
.logo {
	border:none;
	background:transparent;
	font-size:30px;
	margin-right:5%;
	font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
	font-weight:1000;
}

@media (max-width:3000px) {
	#home {
		margin-right:35%;
	}

	.nav-icon {
		display:none;
	}

	.nav-btn {
		margin-top:65px;
	}
}

@media (max-width:1300px) {
	.nav-btn {
		font-size:18px;
	}
}

@media (max-width:1150px) {
	#home {
		margin-right:30%;
	}
	
	.nav-btn {
		font-size:16px;
	}
}

@media (max-width:1000px) {
.nav-btn {
		font-size:15px;
	}
	
	#home {
		margin-right:25%;
	}
}

@media (max-width:768px) {
	.nav-btn {
		font-size:14px;
	}
	
	.navbar {
		height:80px;
	}
}

@media (max-width:800px) {
	.nav-btn {
		font-size:14px;
	}

    .navbar {
		width:90%;
		margin-right:5%;
		margin-left:5%;	
	}
}

@media (max-width:435px) {
	.navbar {
		width:90%;
		border-radius:14px;
		height:50px;
		position:fixed;
		margin-top:587px;
		margin-right:3.15%;
		margin-left:4.35%;
		border-bottom: 1px solid rgb(167, 167, 167);
		border-top: 1px solid rgb(167, 167, 167);
	}
}