@font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 100;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Light.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 300;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Thin.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 400;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Regular.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 600;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-SemiBold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 700;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Bold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.woff) format('woff');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 800;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-ExtraBold.woff2) format('woff2');
}
                    @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 900;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Black.ttf) format('truetype');
}
        @font-face {
    font-family: 'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    font-style: normal;
    font-weight: 900;
    src: local('wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz'), url(https://sitetesttemplate03.see5.net/wp-content/uploads/YekanBakhFaNum-Black.woff) format('woff');
}

body {
    font-family:'wfiijpfqfmhabqtcwbckbvqvxfqrcxwmmenz';
    background-color:rgb(247, 251, 255);
    align-content: center;
}

.background-na {
    background-color:rgb(232, 232, 232);
    color:rgb(72, 72, 72);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.86);
    width:70%;
    font-size:24px;
    margin-right:15%;
    margin-left:15%;
    text-align:center;
    height:400px;
    border-radius:16px;
    align-content: center;
}

@media (max-width:3000px) {
    .background-na {
        font-size:30px;
    }
}

@media (max-width:1200px) {
    .background-na {
        font-size:20px;
    }
}

@media (max-width:900px) {
    .background-na {
        font-size:18px;
    }
}

@media (max-width:800px) {
    .background-na {
        width:90%;
        margin-right:5%;
        margin-left:5%;
    }
}

@media (max-width:600px) {
    .background-na {
        font-size:16px;
    }
}

@media (max-width:520px) {
    .background-na {
        height:200px;
        font-size:14px;
    }
}

@media (max-width:420px) {
    .background-na {
        font-size:10px;
        height:100px;
    }
}

@media (max-width:350px) {
    .background-na {
        font-size:8px;
    }
}